<html>
<head>
  <style>
  </style>
  <link
    rel='stylesheet'
    type='text/css'
    href='{{ url_for('static', filename='css/submit-work.css') }}'
   />
  <script src='{{ url_for('static', filename='js/submit-work.js') }}'>
  </script>
</head>
<body>
  submit work here

  <div id='image-holder'>
  </div>

  <form
    method='post'
    enctype='multipart/form-data'
  >
    <input
      type='file'
      name='images'
      multiple
      onchange='handleFiles(this.files)'
      accept='image/*'
    /><br>
    <input type='submit'>
  </form>
</body>
</html>
